<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="pt-BR">

    <title>Compre e venda carros com facilidade - Finder</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="canonical" href="" />

    <meta name="description" content="Compre e venda carros com facilidade no Finder, o mercado digital líder para a indústria automotiva que conecta compradores de carros a vendedores" />
    <meta name="robots" content="index,follow">
    <meta name="author" content="Finder" />
    <meta name="keywords" content="carros, veículos, automóveis, carros novos, carros usados, comprar, vender, facilidade, comparar, compre, venda, finder" />
    <meta name="copyright" content="© 2022 | Finder" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />

    <!-- OG Tags global - Start -->
    <meta property="og:type" content="page" />
    <meta property="og:url" content="" />
    <meta property="og:site" content="" />
    <meta property="og:site_name" content="Compre e venda carros com facilidade - Finder" />
    <meta property="og:title" content="Compre e venda carros com facilidade - Finder" />
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:description" content="Compre e venda carros com facilidade no Finder, o mercado digital líder para a indústria automotiva que conecta compradores de carros a vendedores" />
    <!-- OG Tags global - End -->

    <meta property="article:author" content="Finder" />

    <!-- OG Tags Twitter - Start -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:title" content="Compre e venda carros com facilidade - Finder" />
    <meta name="twitter:creator" content="@" />
    <meta name="twitter:description" content="Compre e venda carros com facilidade no Finder, o mercado digital líder para a indústria automotiva que conecta compradores de carros a vendedores" />
    <meta property="twitter:image" content="/favicon.png" />
    <!-- OG Tags Twitter - End -->

    <!-- Icons - Start -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/93a20b3367.js" crossorigin="anonymous"></script>
    <!-- Icons - End -->

    <!-- Fonts - Start -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Fonts - End -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
